#wrapper{
    height: 100vh;
    overflow-x: hidden; /*horizontal mai scroll ni karna hai */
    overflow-y: auto; /*vertical mai scroll karna hai*/
    perspective: 10px;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    transform-style: preserve-3d;
    z-index:-1;
}

.background{
    transform: translateZ(-40px)  scale(5);
}

.foreground{
    translate: translateZ(-20px) scale(2);
}
.background, .foreground{
position: absolute;
height: 100%;
width: 100%;
z-index: -1;
}