.container{
    height: 700px;
    border: 1px solid black;
    background-color: yellowgreen;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows:250px 600px;

    /*assigning area to the grids*/
    /* grid-template-areas:
    "hd"
    "side"
    "main"
    "ft" ; */

    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
     "side side side main main main main main"
     "ft ft ft ft ft ft ft ft";
}

.box{
    border: 1px solid green;
    background-color: rgb(29, 188, 135);
    /* height: 100px;
    width: 100px; */
}

#Header{
    grid-area: hd;
}

#Sidebar{
    grid-area: side;
}
#Content{
    grid-area: main;
}
#Footer{
    grid-area: ft;
}